@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-family: 'Poppins', sans-serif;
  --font-family-special: 'Indie Flower', cursive;

  font-family: var(--font-family);
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: clamp(2em, 4vw, 3em);
  margin-top: clamp(0em, 2vw, 0.67em);
  line-height: 1.1;
}

button {
  background: linear-gradient(120deg, #8E2DE2, #4A00E0);
  border-radius: 6px;
  padding: 8px 12px;
}

.green-btn {
  box-shadow: inset 0 0 0 2px #82b763;
  background: linear-gradient(120deg, #5a7849, #51733e);
  border-radius: 6px;
}

.success-btn {
  background: linear-gradient(120deg, #88c063,#46ab2f);
  border-radius: 6px;
}

.danger-btn {
  background: linear-gradient(120deg, #ED213A, #93291E);
  border-radius: 6px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    color: #fff;
    opacity: 0.6;
  }

  .green-btn {
    box-shadow: inset 0 0 0 2px #82b76300;
    background: #eee;
  }
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  aspect-ratio: 1.59 / 1;
  padding: 16px 32px 32px;
  background-image: linear-gradient(120deg, #8E2DE2, #4A00E0);
  box-shadow: 0 0 32px -16px #000;
  border-radius: 32px;
  margin: 16px;
  transform-origin: 50% 0;
}

@media (prefers-color-scheme: light) {
  .card {
    background-image: linear-gradient(120deg, #b68add, #9d82d3);
    color: white;
  }
}

@media (max-height: 530px) { .card { transform: scale(0.95); } }
@media (max-height: 510px) { .card { transform: scale(0.90); } }
@media (max-height: 480px) { .card { transform: scale(0.85); } }
@media (max-height: 450px) { .card { transform: scale(0.80); } }
@media (max-height: 420px) { .card { transform: scale(0.75); } }
@media (max-height: 390px) { .card { transform: scale(0.70); } }

.small-card {
  border-radius: 6px;
  background-image: linear-gradient(120deg, #8E2DE288, #4A00E088);
  box-shadow: 0 0 32px -16px #000;
}

.small-card.selected {
  background-image: linear-gradient(120deg, #8E2DE2, #4A00E0);
  box-shadow: 0 0 32px -16px #000, inset 0 0 0 2px #fff8;
}

@media (prefers-color-scheme: light) {
  .small-card {
    background-image: linear-gradient(120deg, #b68addbb, #9d82d3bb);
    color: white;
  }
  
  .small-card.selected {
    background-image: linear-gradient(120deg, #b68add, #9d82d3);
    box-shadow: 0 0 32px -16px #000, inset 0 0 0 2px #0008;
  }
}

@keyframes wiggle {
  from {
    transform: rotate(3deg);
  }
  to {
    transform: rotate(-3deg);
  }
}

.items {
  margin: auto;
  mix-blend-mode: lighten;
}

.item {
  display: flex;
  flex-flow: column nowrap;
  text-transform: uppercase;
  align-items: center;
}

.edit .item {
  /*animation: wiggle 0.5s infinite alternate ease-in-out;*/
}
.edit .item:nth-child(2n) { animation-delay: 0.25s; }
.edit .item:nth-child(3n) { animation-delay: 0.5s; }
.edit .item:nth-child(5n) { animation-delay: 0.75s; }

.language-choice {
  text-transform: capitalize;
}

.allergy-choice {
  text-transform: capitalize;
}

.item > img {
  height: 100px;
  width: 100px;
}

.allergy-choice img {
  height: 20px;
  width: 20px;
  vertical-align: middle;
}

.blend-img {
  object-fit: contain;
  mix-blend-mode: lighten;
}

@media (prefers-color-scheme: light) {
  .blend-img {
    mix-blend-mode: darken;
  }

  .card .blend-img {
    mix-blend-mode: lighten;
  }

  .small-card .blend-img {
    mix-blend-mode: lighten;
  }

  .allergy-item .blend-img {
    mix-blend-mode: difference;
  }
}

.qr-code {
  display: inline-block;
  background-color: #fff;
  padding: 16px;
  margin-bottom: 16px;
  border-radius: 16px;
  max-width: 100%;
}

.dimmed-text {
  color: #fff6;
}

@media (prefers-color-scheme: light) {
  .dimmed-text {
    color: #0006;
  }

  .card .dimmed-text {
    color: #fff8;
  }
}

.color {
    box-shadow: 0 0 32px -16px #000;
}

.color.selected {
    box-shadow: 0 0 32px -16px #000, inset 0 0 0 2px #fff8;
}
